* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rubik", sans-serif;
  min-width: 375px;
}

.container{
  max-width: 1140px;
  margin:0 auto;
  padding: 0 15px;
}

.header {
  background-color: #0a61f7;
  padding: 14px 0;
}
.header-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu{
  display: flex;
  list-style: none;
  gap: 24px;
}


.menu-item a {
  font-weight: 500;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  list-style: none;
}




 
.main-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 800px;
}


.main-description{
  max-width: 380px;
  margin-bottom: 40px;
}



.main-title {
  font-weight: 500;
  font-size: 58px;
  line-height: 117%;
  color: #363940;
  margin-bottom: 30px;
}


.button {
  width: 152px;
  height: 50px;
  background-color: #0a61f7;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  border-radius: 5px;
  padding: 15px 24px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  box-shadow:0 0 4px rgba(0,0,0,0.5);
  transition: .3s box-shadow;
  cursor: pointer;
}
.button:hover{
box-shadow: 0 4px 10px rgba(10, 97, 247, 0.3);
}

.main-img{
  align-self:flex-end;
}

.rates-section{
  background-color: #f9fafc;
  padding: 100px 0;
}
.rates-wrapper{
 display: flex;
 flex-direction: column;
 align-items: center;

}


.title {
  font-weight: 500;
  font-size: 32px;
  color: #363940;
  margin-bottom: 20px;
}

.description-table {
  margin-bottom: 20px;
}

.table-title{
font-weight: 500;
  font-size: 18px;
  color: #363940;
}
.table-subtitle{
  font-weight: 400;
  font-size: 14px;
  text-align: left;
  padding: 0 0 0 20px;
  color: #363940;
}
.table-subtitle.gray {
color: #95a1bb;;
}

.table {
  border-collapse: collapse;
}
 th,
 td {
  width: 240px;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #95a1bb;
}
.table-link{
color: #0a61f7;
text-decoration: none;

}

.table-footer td{
  padding: 30px 0;
}

.btn {
  width: 140px;
  height: 36px;
  font-weight: 500;
  font-size: 12px;
  border-radius: 5px;
  border: 1px solid #0a61f7;
  text-transform: uppercase;
  text-align: center;
  color: #0a61f7;
  background-color: #fff;
  transition: .3s box-shadow;
  cursor: pointer;
}

.btn.active{
background-color: #0a61f7;
  color: #fff;
}

.btn:hover{
  border: 1.5px solid #95a1bb;
   box-shadow:0 0 2px rgba(70, 66, 66, 0.4);

}
.btn.selected {
  background-color: #0a61f7;
  color: #fff;
}
.section__about {
  padding: 100px 0;
  
}
.list-about{
  padding: 0 0 0 20px;
}


.list-item{
  list-style-image: url(assets/img/yes.svg);
  margin-bottom: 30px;
  margin-bottom: 15px;
  color: #363940;
}


.wrapper-about{
  display: flex;
  justify-content: space-between;
  
}
.info-about{
  max-width: 500px;
  /* padding-right: 160px; */
}



.title-about {
  font-weight: 500;
  font-size: 32px;
  margin-bottom: 50px;
  color: #363940;
}

.description-about {
  margin-bottom: 40px;
  
}
.form {
  display: flex;
  flex-wrap: wrap; 
  gap: 20px;
  max-width: 480px; 
  margin-bottom: 20px;
}



.name {
  width: 100%;
  height: 50px;
  border-radius: 4px;
  border: 1px solid #95a1bb;
  padding: 0 0 0 15px;
}

.email,
.password,
.date,
.country {
  border: 1px solid #95a1bb;
  border-radius: 4px;
  width: 230px;
  height: 50px;
  padding: 0 0 0 15px;
}


input,
p,
select,
fieldset,
textarea,
label,
legend,
input::placeholder,
textarea::placeholder{
  font-weight: 400;
  font-size: 16px;
  color: #95a1bb;
  border-radius: 4px;
}

input[type="email"],input[type="password"],input[type="date"],select{
width: 230px;
height: 50px;
}


input[type="date"]::-webkit-calendar-picker-indicator{
  background: url(assets/img/Calendar.svg) no-repeat; 
}


.radio, fieldset{
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

fieldset {
  width: 100%;
  padding:20px 15px;
  margin-bottom: 20px;
  border: 1px solid #95a1bb;

  
}
legend {
  margin-left: 40px;
  padding: 0 8px;
}


.checkbox input{
    color: #95a1bb;
}

.textarea {
width: 480px;
height: 80px;

padding: 14px 0 0 15px;
resize: none;
margin-bottom: 20px;

}

.button-textarea {
border-radius: 4px;
border: 1px solid #0a61f7;
width: 480px;
height: 51px;
background-color: #0a61f7;
font-weight: 500;
font-size: 14px;
text-transform: uppercase;
text-align: center;
color: #fff;
transition: .3s box-shadow;
  cursor: pointer;
}
.button-textarea:hover{
  border: .5px solid #95a1bb;
   box-shadow:0 0 2px rgba(70, 66, 66, 0.4);
}
.footer > span {
  display: block;
  width: 100%;
  /* height: 62px; */
  background-color: #0a61f7;
  margin-top: 100px;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  line-height: 62px;
  color: #fff;
}

  @media screen and (max-width:1180px){
.main-wrapper{
  flex-direction: column;
  align-items: start;
  /* margin-top: 100px;  */
}
.main-img{
  align-self: center;
}
.main-info{
  margin: 100px 0 80px;
}
.rates-section{
  width: 100%;
}
.table{
 
  width:940px;
}
.table-wrapper{
  overflow-x: auto;
  width: 100%;
  max-width: 940px;
}

.wrapper-about{
  
  flex-direction: column;
}


.form-about{
  align-self: center;
}
.info-about{
  max-width: unset;
  margin-bottom: 70px;
}

}



    
  

