* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rubik", sans-serif;
}
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #fff;
  background-color: #0a61f7;
  padding: 14px 0;
}
.logo {
  padding: 14px 0 14px 130px;
}

.nav ul {
  width: 251px;
  height: 20px;
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.nav {
  padding: 24px 130px 0px;
}

.link a {
  font-weight: 500;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}
.section__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: start;
  justify-content: center;
  padding-top: 100px;
}
.content {
  width: 460px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  /* padding-right: 70px; */
  row-gap: 30px;
}
.title-header {
  font-weight: 500;
  font-size: 58px;
  line-height: 117%;
  color: #363940;
}
.description-header {
  font-weight: 400;
  font-size: 16px;
  color: #95a1bb;
}

.button {
  width: 152px;
  height: 50px;
  background-color: #0a61f7;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  border-radius: 5px;
  padding: 15px 24px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.section__table {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding: 100px;
}

.title-table {
  font-weight: 500;
  font-size: 32px;
  color: #363940;
  margin-bottom: 30px;
}

.description-table {
  font-weight: 400;
  font-size: 16px;
  color: #95a1bb;
  margin-bottom: 40px;
}

.table {
  width: 940px;
  height: 300px;
  width: 100%;
  max-width: 940px;
  border-collapse: collapse;
  border: 1px solid #f9fafc;
}
.table th,
.table td {
  width: 240px;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.table th {
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: #363940;
}

.table-item th:first-child {
  color: #95a1bb;
}
.table-footer {
  width: 240px;
  height: 90px;
}

.link {
  color: #0a61f7;
}
.btn {
  width: 140px;
  height: 36px;
  font-weight: 500;
  font-size: 12px;
  border-radius: 5px;
  border: 1px solid #0a61f7;
  text-transform: uppercase;
  text-align: center;
  color: #0a61f7;
  background-color: #fff;
}
.btn.selected {
  background-color: #0a61f7;
  color: #fff;
}
.section__about {
  display: flex;
  justify-content: center;

  justify-content: space-around;
}
.content-about {
  width: 500px;
  height: 370px;
  display: flex;
  flex-direction: column;

  row-gap: 40px;
}

.title-about {
  font-weight: 500;
  font-size: 32px;
  color: #363940;
}

.description-about {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #95a1bb;
}
span {
  font-weight: 400;
  font-size: 16px;
  line-height: 250%;
  color: #363940;
  padding: 0 0 0 20px;
}
.form-about {
  width: 484px;
  height: 518px;
}
.form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}

input::placeholder,
textarea::placeholder {
  color: #95a1bb;
}

.name {
  width: 480px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid #95a1bb;
  font-weight: 400;
  font-size: 16px;
  padding: 0 0 0 15px;
}

.email {
  border: 1px solid #95a1bb;
  border-radius: 4px;
  width: 230px;
  height: 50px;
  font-weight: 400;
  font-size: 16px;
  color: #95a1bb;
  padding: 0 0 0 15px;
}
.password {
  width: 230px;
  height: 50px;

  border-radius: 4px;
  border: 1px solid #95a1bb;
  font-weight: 400;
  font-size: 16px;
  color: #95a1bb;
  padding: 0 0 0 15px;
}

.date {
  width: 230px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid #95a1bb;
  font-weight: 400;
  font-size: 16px;
  color: #95a1bb;
  padding: 0 0 0 15px;
  /* background-image: url(assets/img/Calendar.svg);
background-repeat: no-repeat;
background-position: right 12px center; */
}

.country {
  width: 230px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid #95a1bb;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #95a1bb;
  padding: 0 0 0 15px;
}

select {
  background-image: url(assets/img/Arrow-down.svg);
  background-repeat: no-repeat;
  background-position: right 12px center;
  appearance: none;
}
.radio {
  display: flex;
  gap: 30px;
  font-weight: 400;
  font-size: 16px;
  color: rgba(149, 161, 187, 1);
  margin-bottom: 20px;
}

.fieldset {
  min-height: 83px;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  color: #95a1bb;
  margin-bottom: 20px;
  border: 1px solid #95a1bb;

  
}
legend {
  margin-left: 40px;
  padding: 0 8px;
}

.checkbox {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  justify-content: space-around;
 

}
.checkbox input{
    color: #95a1bb;
}

.textarea {
width: 480px;
height: 80px;
border-radius: 4px;
border: 1px solid #95a1bb;
font-weight: 400;
font-size: 16px;
color: #95a1bb;
padding: 14px 0 0 15px;
resize: none;
margin-bottom: 20px;

}

.button-textarea {
border-radius: 4px;
border: 1px solid #0a61f7;
width: 480px;
height: 51px;
background-color: #0a61f7;
font-weight: 500;
font-size: 14px;
text-transform: uppercase;
text-align: center;
color: #fff;

}

.footer > span {
  display: block;
  height: 62px;
  background-color: #0a61f7;
  margin-top: 100px;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  line-height: 62px;
  color: #fff;
}
